<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjeevani Navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            Sanjeevani
        </div>
        <div class="navbar-login">
            <a href="#" class="login-button">Log In</a>
        </div>
    </nav>
</body>
</html>